@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BookStore_Web_.Models.Emp_Information>
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/Easy.cshtml";
}

<link href="~/Content/animate.css" rel="stylesheet" />

<div class="wrap">
    <span id="animationSandbox" style="display: block;" class="zoomIn animated"><h1 class="site__title mega">所有員工資料一覽</h1></span>
</div>

<div>
    <label>依部門索引</label>
    <select id="select1"></select>

    <label>自選排序</label>
    <select id="select2">
        <option>===請選擇===</option>
        <option>依員工編號排序</option>
        <option>依員工姓名排序</option>
        <option>依所屬部門排序</option>
        <option>依所屬主管排序</option>
    </select>
</div>

<div id="div1"></div>

<script>
    var sel = $('#select1');
    var sel2 = $('#select2');
    sel.on('change', load);
    sel2.on('change', load2);

    $.getJSON('@Url.Action("EmpDept","Admin")', {}, function (datas) {
        var opt = $('<option></option>').text("==所有部門==");
        sel.append(opt);
        $.each(datas, function (i, depart) {
            var opt = $('<option></option>').val(depart.DeptID).text(depart.DeptName);
            sel.append(opt);
        });
        load();
    })




    function load() {
        $('#div1').load('@Url.Action("PartialBrowse", "Admin")/' + $('#select1').val());
    }
    function load2() {
        $('#div1').load('@Url.Action("PartialSortBy", "Admin")/?abc=' + $('#select2').val());
    }
</script>