@model  IEnumerable<BookStore_Web_.Models.Salary>

<div class="col-md-6">
    <h2>基本薪資</h2>
    <div id="chartdiv" style="width:100%; height:400px;" class="col-md-12">
    </div>
</div>
<div class="col-md-6">
   <h2>油資補助</h2>
    <div id="chartline" style="width:100%; height:400px;" >
    </div>
</div>
<div class="col-md-6">
    <h2>總薪資</h2>
<div id="chartpie" style="width:100%; height:400px;" class="col-md-12">
</div>
</div>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/serial.js"></script>
<script src="~/Scripts/pie.js"></script>


<script>

    var chart;
    var chartData =
        [
              @foreach(var emp in Model)
              {
                  <text>
                {
                    "月份": "@emp.DateTime",
                    "基本薪資": "@emp.Emp_Salary",
                },
                  </text>
              }
        ];


    AmCharts.ready(function () {
        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        //資料載入
        chart.dataProvider = chartData;
        //X軸的值
        chart.categoryField = "月份";
        //動畫時間
        chart.startDuration = 1;
        //chart.rotate = true;

        // 1.category
        var categoryAxis = chart.categoryAxis;
        //底線顏色
        categoryAxis.axisColor = "#DADADA";
        //分隔線距離
        categoryAxis.dashLength = 20;
        //categoryAxis.gridPosition = "start";

        // 2.value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.dashLength = 10;
        valueAxis.axisAlpha = 0.2;
        valueAxis.position = "top";
        valueAxis.title = "薪資";
        valueAxis.minorGridEnabled = true;
        valueAxis.minorGridAlpha = 0.08;
        valueAxis.gridAlpha = 0.15;
        chart.addValueAxis(valueAxis);

        //// GRAPHS
        //// column graph
        var graph1 = new AmCharts.AmGraph();
        graph1.type = "column";
        graph1.title = "基本薪資";
        graph1.valueField = "基本薪資";
        graph1.lineAlpha = 0;
        graph1.fillColors = "#ADD981";
        graph1.fillAlphas = 0.8;
        graph1.balloonText = "<span style='font-size:13px;'>[[category]]月的[[title]] :<b>[[value]]</b></span>";
        chart.addGraph(graph1);

        //// LEGEND
        var legend = new AmCharts.AmLegend();
        legend.useGraphSettings = true;
        chart.addLegend(legend);

        // WRITE
        chart.write("chartdiv");
    });

    $('#chartline').load('@Url.Action("Partailpetrol", "Employee")');
    $('#chartpie').load('@Url.Action("Allsalary", "Employee")');

   
    

</script>
